<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>赏心堂</key>
	<array>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
	</array>
	<key>玉衡堂 Business</key>
	<array>
		<string></string>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
	</array>
	<key>尔雅堂</key>
	<array>
		<string></string>
		<string></string>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
	</array>
	<key>逸连堂</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
	</array>
	<key>寰宇堂 Business</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
	</array>
	<key>玉衡堂 First</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
	</array>
	<key>寰宇堂 First</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
		<dict>
			<key>amount</key>
			<string></string>
			<key>description</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
